.header{
    width: 100%;
}

.block-border{
	padding: 20px 0 15px;
    border-bottom: 1px solid #c0c0c0;
    width: 100%;
}

#logo{
	float: left;
	width: 19%;
}
h2{
    font-size: 18px;
    padding-left: 30px;
    background-position: 0 7px;
}

.blackline{
    border-bottom: 6px solid #090909;
}

p{
    font-size: 12px;
    line-height: 15px;
}

#menu{
    float: right;
    position: relative;
    width: 68%;
}